<h2>Experience</h2>
<h3>Roles</h3>
<%- if @experience.roles.count > 0 -%>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Primary Activity</th>
        <th>Years Experience</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- @experience.roles.each do |role| %>
        <tr>
          <td><%= role.name %></td>
          <td><%= role.primary_activity%></td>
          <td><%= role.years_experience%></td>
          <td></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>

<div class="row">
  <%= simple_form_for UserExperienceRole.new, html: {class: 'form-inline experience-form'} do |f| %>
    <%= f.input :user_id, as: :hidden, value: current_user.id %>
    <%= f.input :name, wrapper_html: {class: 'col-md-3'}, label: false, placeholder: 'Role Name...' %>
    <%= f.input :primary_activity, wrapper_html: {class: 'col-md-3'}, label: false, collection: UserExperienceRole.primary_activities.keys, prompt: 'Primary Activity...' %> 
    <%= f.input :years_experience, wrapper_html: {class: 'col-md-3'},label: false, collection: UserExperienceRole.years_experiences.keys, prompt: 'Years Experience...'%>
    <div class="form-group col-md-3">
      <%= f.submit 'Add Role', class: 'btn btn-primary col-md-12'%>
    </div>
  <%- end -%>
</div>

<h3>Industry</h3>
<%- if @experience.industries.count > 0 -%>
<table class="table">
  <thead>
    <tr>
      <th>Industry</th>
      <th>Primary Activity</th>
      <th>Years Experience</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @experience.industries.each do |industry| %>
      <tr>
        <td><%= industry.industry %></td>
        <td><%= industry.primary_activity%></td>
        <td><%= industry.years_experience%></td>
        <td></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
<%- end -%>

<div class="row">
<%= simple_form_for UserExperienceIndustry.new, html: {class: 'form-inline experience-form'} do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.input :industry, label: false, wrapper_html: {class: 'col-md-3'}, collection: UserExperienceIndustry.industries.keys, prompt: 'Industry...' %> 
  <%= f.input :primary_activity, label: false, wrapper_html: {class: 'col-md-3'}, collection: UserExperienceIndustry.primary_activities.keys, prompt: 'Primary Activity...'  %> 
  <%= f.input :years_experience, label: false, wrapper_html: {class: 'col-md-3'},  collection: UserExperienceIndustry.years_experiences.keys, prompt: 'Years Experience...' %>
  <div class="form-group col-md-3">
    <%= f.submit 'Add Industry', class: 'btn btn-primary col-md-12' %>
  </div>
<%- end -%>
</div>

<h3>Management Skills</h3>
<%- if @experience.management_skills.count > 0 -%>
  <table class="table">
    <thead>
      <tr>
        <th>Industry</th>
        <th>Primary Activity</th>
        <th>Years Experience</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- @experience.management_skills.each do |management_skill| %>
      <tr>
        <td><%= management_skill.industry %></td>
        <td><%= management_skill.primary_activity%></td>
        <td><%= management_skill.years_experience%></td>
        <td></td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>

<div class="row">
  <%= simple_form_for UserExperienceManagementSkill.new, html: {class: 'form-inline experience-form'} do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :industry, label: false, wrapper_html: {class: 'col-md-3'}, collection: UserExperienceManagementSkill.industries.keys, prompt: 'Please select...' %> 
    <%= f.input :primary_activity, label: false, wrapper_html: {class: 'col-md-3'}, collection: UserExperienceManagementSkill.primary_activities.keys, prompt: 'Please select...' %> 
    <%= f.input :years_experience, label: false, wrapper_html: {class: 'col-md-3'}, collection: UserExperienceManagementSkill.years_experiences.keys, prompt: 'Please select...' %>
    <div class="form-group col-md-3">
      <%= f.submit 'Add Management Skill', class: 'btn btn-primary col-md-12' %>
    </div>
  <%- end -%>
</div>
