<h2>Experience</h2>
<h3>Roles</h3>
<%- if @experience.roles.count > 0 -%>
  <table class="table">
    <thead>
      <tr>
        <th>Role</th>
        <th>Experience</th>
        <th>Years Experience</th>
        <th>Expertise</th>
        <th>Company</th>
        <th>Last 5 Years?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- @experience.roles.each do |role| %>
        <tr>
          <td><%= role.derived_primary_activity%></td>
          <td><%= role.derived_secondary_activity%></td>
          <td><%= role.years_experience%></td>
          <td><%= role.expertise%></td>
          <td><%= role.company%></td>
          <td>
            <%-if role.in_last_five_years? -%>
              <span class="glyphicon glyphicon-ok text-success"></span>
            <%- end -%>
          </td>
          <td>
            <%= button_to "Delete", user_experience_role_path(role.id), method: :delete, class: 'btn btn-danger btn-xs' %>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>

<div ng-controller='UserExperienceActivitiesController' 
    class="row"
    ng-init='primaryActivities = <%=UserExperienceRole.primary_activities.to_json%>; 
    secondaryActivityMap = <%=UserExperienceRole.mapped_secondary_activities.to_json%>'}>
  <%= simple_form_for UserExperienceRole.new, html: {class: 'form-inline experience-form'} do |f| %>
    <%= f.input :primary_activity, wrapper_html: {class: 'col-md-2', 'ng-hide' => 'otherPrimaryVisible'},
      input_html: {'ng-model' => 'selectedPrimaryActivity', 'ng-disabled' => 'otherPrimaryVisible'}, label: false,
      collection: UserExperienceRole.primary_activities.keys.push("Other..."), prompt: 'Role...' %>
    <div class="form-group col-md-2" ng-show='otherPrimaryVisible'>
      <div class="input-group">
        <input id='user_experience_role_other_primary_activity', name='user_experience_role[other_primary_activity]',
          class="form-control" type="text," placeholder="Role...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="cancelOtherPrimaryActivity()">X</button>
        </span>
      </div>
    </div>
    <%= f.input :secondary_activity, wrapper_html: {class: 'col-md-2', 'ng-show' => 'secondaryActivitiesVisible'}, 
      label: false do -%>
      <%= f.select :secondary_activity, [], {prompt: 'Experience...'}, 
        {class: 'form-control select', 'ng-model'  => 'selectedSecondaryActivity', 'ng-disabled' => 'otherSecondaryVisible'} do %>
        <option ng-repeat="sa in availableSecondaryActivities" value="{{sa}}">{{sa}}</option>
        <option>Other...</option>
      <%- end -%>
    <%- end -%>
    <div class="form-group col-md-2" ng-show='otherSecondaryVisible'>
      <div class="input-group">
        <input id='user_experience_role_other_secondary_activity', name='user_experience_role[other_secondary_activity]',
          class="form-control" type="text," placeholder="Experience...">
        <span class="input-group-btn" ng-hide='otherPrimaryVisible'>
          <button class="btn btn-default" type="button" ng-click="cancelOtherSecondaryActivity()">X</button>
        </span>
      </div>
    </div>
    <%= f.input :years_experience, wrapper_html: {class: 'col-md-2'},label: false, 
      collection: UserExperienceRole.years_experiences.keys, prompt: 'Years Experience...'%>
    <%= f.input :expertise, wrapper_html: {class: 'col-md-2'},label: false, 
      collection: UserExperienceRole.expertises.keys, prompt: 'Expertise...'%>
    <%= f.input :company, wrapper_html: {class: 'col-md-2'},label: false, 
      collection: UserExperienceRole.companies.keys, prompt: 'Companies...'%>
    <%= f.input :in_last_five_years, wrapper_html: { class: 'col-md-2'} %>

    <div class="form-group col-md-2">
      <%= f.submit 'Add Role', class: 'btn btn-primary col-md-12'%>
    </div>
  <%- end -%>
</div>

<h3>Industries</h3>
<%- if @experience.industries.count > 0 -%>
<table class="table">
  <thead>
    <tr>
      <th>Industry</th>
      <th>Exprience</th>
      <th>Years Experience</th>
      <th>Company</th>
      <th>Last 5 Years?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @experience.industries.each do |industry| %>
      <tr>
        <td><%= industry.derived_primary_activity %></td>
        <td><%= industry.derived_secondary_activity%></td>
        <td><%= industry.years_experience%></td>
        <td><%= industry.company%></td>
        <td>
          <%-if industry.in_last_five_years? -%>
            <span class="glyphicon glyphicon-ok text-success"></span>
          <%- end -%>
        </td>
        <td>
          <%= button_to "Delete", user_experience_industry_path(industry.id), method: :delete, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>
<%- end -%>

<div ng-controller='UserExperienceActivitiesController' 
    class="row"
    ng-init='primaryActivities = <%=UserExperienceIndustry.primary_activities.to_json%>; 
    secondaryActivityMap = <%=UserExperienceIndustry.mapped_secondary_activities.to_json%>'}>
<%= simple_form_for UserExperienceIndustry.new, html: {class: 'form-inline experience-form'} do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.input :primary_activity, wrapper_html: {class: 'col-md-2', 'ng-hide' => 'otherPrimaryVisible'},
    input_html: {'ng-model' => 'selectedPrimaryActivity', 'ng-disabled' => 'otherPrimaryVisible'}, label: false,
    collection: UserExperienceIndustry.primary_activities.keys.push("Other..."), prompt: 'Industry...' %>
  <div class="form-group col-md-2" ng-show='otherPrimaryVisible'>
    <div class="input-group">
      <input id='user_experience_industry_other_primary_activity', name='user_experience_industry[other_primary_activity]',
        class="form-control" type="text," placeholder="Industry...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="cancelOtherPrimaryActivity()">X</button>
      </span>
    </div>
  </div>
  <%= f.input :secondary_activity, wrapper_html: {class: 'col-md-2', 'ng-show' => 'secondaryActivitiesVisible'}, 
    label: false do -%>
    <%= f.select :secondary_activity, [], {prompt: 'Experience...'}, 
      {class: 'form-control select', 'ng-model'  => 'selectedSecondaryActivity', 'ng-disabled' => 'otherSecondaryVisible'} do %>
      <option ng-repeat="sa in availableSecondaryActivities" value="{{sa}}">{{sa}}</option>
      <option>Other...</option>
    <%- end -%>
  <%- end -%>
  <div class="form-group col-md-2" ng-show='otherSecondaryVisible'>
    <div class="input-group">
      <input id='user_experience_industry_other_secondary_activity', name='user_experience_industry[other_secondary_activity]',
        class="form-control" type="text," placeholder="Experience...">
      <span class="input-group-btn" ng-hide='otherPrimaryVisible'>
        <button class="btn btn-default" type="button" ng-click="cancelOtherSecondaryActivity()">X</button>
      </span>
    </div>
  </div>
  <%= f.input :years_experience, label: false, wrapper_html: {class: 'col-md-2'},  
    collection: UserExperienceIndustry.years_experiences.keys, prompt: 'Years Experience...' %>
  <%= f.input :company, label: false, wrapper_html: {class: 'col-md-2'}, 
    collection: UserExperienceIndustry.companies.keys, prompt: 'Company...'  %> 
  <%= f.input :in_last_five_years, wrapper_html: { class: 'col-md-2'} %>
  <div class="form-group col-md-2">
    <%= f.submit 'Add Industry', class: 'btn btn-primary col-md-12' %>
  </div>
<%- end -%>
</div>

<h3>Management Skills</h3>
<%- if @experience.management_skills.count > 0 -%>
  <table class="table">
    <thead>
      <tr>
        <th>Management Skill</th>
        <th>Experience</th>
        <th>Years Experience</th>
        <th>Expertise</th>
        <th>Last 5 Years?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- @experience.management_skills.each do |management_skill| %>
      <tr>
        <td><%= management_skill.primary_activity%></td>
        <td><%= management_skill.secondary_activity%></td>
        <td><%= management_skill.years_experience%></td>
        <td><%= management_skill.expertise%></td>
        <td>
          <%-if management_skill.in_last_five_years? -%>
            <span class="glyphicon glyphicon-ok text-success"></span>
          <%- end -%>
        </td>
        <td>
          <%= button_to "Delete", user_experience_management_skill_path(management_skill.id), 
            method: :delete, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>

<div ng-controller='UserExperienceActivitiesController' 
    class="row"
    ng-init='primaryActivities = <%=UserExperienceManagementSkill.primary_activities.to_json%>; 
    secondaryActivityMap = <%=UserExperienceManagementSkill.mapped_secondary_activities.to_json%>'}>
  <%= simple_form_for UserExperienceManagementSkill.new, html: {class: 'form-inline experience-form'} do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :primary_activity, wrapper_html: {class: 'col-md-2', 'ng-hide' => 'otherPrimaryVisible'},
      input_html: {'ng-model' => 'selectedPrimaryActivity', 'ng-disabled' => 'otherPrimaryVisible'}, label: false,
      collection: UserExperienceManagementSkill.primary_activities.keys.push("Other..."), prompt: 'Management Skill...' %>
    <div class="form-group col-md-2" ng-show='otherPrimaryVisible'>
      <div class="input-group">
        <input id='user_experience_management_skill_other_primary_activity', name='user_experience_management_skill[other_primary_activity]',
          class="form-control" type="text," placeholder="Management Skill...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="cancelOtherPrimaryActivity()">X</button>
        </span>
      </div>
    </div>
    <%= f.input :secondary_activity, wrapper_html: {class: 'col-md-2', 'ng-show' => 'secondaryActivitiesVisible'}, 
      label: false do -%>
      <%= f.select :secondary_activity, [], {prompt: 'Experience...'}, 
        {class: 'form-control select', 'ng-model'  => 'selectedSecondaryActivity', 'ng-disabled' => 'otherSecondaryVisible'} do %>
        <option ng-repeat="sa in availableSecondaryActivities" value="{{sa}}">{{sa}}</option>
        <option>Other...</option>
      <%- end -%>
    <%- end -%>
    <div class="form-group col-md-2" ng-show='otherSecondaryVisible'>
      <div class="input-group">
        <input id='user_experience_management_skill_other_secondary_activity', name='user_experience_management_skill[other_secondary_activity]',
          class="form-control" type="text," placeholder="Experience...">
        <span class="input-group-btn" ng-hide='otherPrimaryVisible'>
          <button class="btn btn-default" type="button" ng-click="cancelOtherSecondaryActivity()">X</button>
        </span>
      </div>
    </div>
    <%= f.input :years_experience, label: false, wrapper_html: {class: 'col-md-2'}, 
      collection: UserExperienceManagementSkill.years_experiences.keys, prompt: 'Years Experience...' %>
    <%= f.input :expertise, label: false, wrapper_html: {class: 'col-md-2'}, 
      collection: UserExperienceManagementSkill.expertises.keys, prompt: 'Expertise...' %>
    <%= f.input :in_last_five_years, wrapper_html: { class: 'col-md-2'} %>
    <div class="form-group col-md-3">
      <%= f.submit 'Add Management Skill', class: 'btn btn-primary col-md-12' %>
    </div>
  <%- end -%>
</div>

<h3>Methods</h3>
<%- if @experience.methods.count > 0 -%>
  <table class="table">
    <thead>
      <tr>
        <th>Method</th>
        <th>Experience</th>
        <th>Years Experience</th>
        <th>Expertise</th>
        <th>Last 5 Years?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- @experience.ue_methods.each do |method| %>
      <tr>
        <td><%= method.primary_activity%></td>
        <td><%= method.secondary_activity%></td>
        <td><%= method.years_experience%></td>
        <td><%= method.expertise%></td>
        <td>
          <%-if method.in_last_five_years? -%>
            <span class="glyphicon glyphicon-ok text-success"></span>
          <%- end -%>
        </td>
        <td>
          <%= button_to "Delete", user_experience_method_path(method.id), 
            method: :delete, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>

<div ng-controller='UserExperienceActivitiesController' 
    class="row"
    ng-init='primaryActivities = <%=UserExperienceMethod.primary_activities.to_json%>; 
    secondaryActivityMap = <%=UserExperienceMethod.mapped_secondary_activities.to_json%>'}>
  <%= simple_form_for UserExperienceMethod.new, html: {class: 'form-inline experience-form'} do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :primary_activity, wrapper_html: {class: 'col-md-2', 'ng-hide' => 'otherPrimaryVisible'},
      input_html: {'ng-model' => 'selectedPrimaryActivity', 'ng-disabled' => 'otherPrimaryVisible'}, label: false,
      collection: UserExperienceMethod.primary_activities.keys.push("Other..."), prompt: 'Method...' %>
    <div class="form-group col-md-2" ng-show='otherPrimaryVisible'>
      <div class="input-group">
        <input id='user_experience_method_other_primary_activity', name='user_experience_method[other_primary_activity]',
          class="form-control" type="text," placeholder="Method...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="cancelOtherPrimaryActivity()">X</button>
        </span>
      </div>
    </div>
    <%= f.input :secondary_activity, wrapper_html: {class: 'col-md-2', 'ng-show' => 'secondaryActivitiesVisible'}, 
      label: false do -%>
      <%= f.select :secondary_activity, [], {prompt: 'Experience...'}, 
        {class: 'form-control select', 'ng-model'  => 'selectedSecondaryActivity', 'ng-disabled' => 'otherSecondaryVisible'} do %>
        <option ng-repeat="sa in availableSecondaryActivities" value="{{sa}}">{{sa}}</option>
        <option>Other...</option>
      <%- end -%>
    <%- end -%>
    <div class="form-group col-md-2" ng-show='otherSecondaryVisible'>
      <div class="input-group">
        <input id='user_experience_method_other_secondary_activity', name='user_experience_method[other_secondary_activity]',
          class="form-control" type="text," placeholder="Experience...">
        <span class="input-group-btn" ng-hide='otherPrimaryVisible'>
          <button class="btn btn-default" type="button" ng-click="cancelOtherSecondaryActivity()">X</button>
        </span>
      </div>
    </div>
    <%= f.input :years_experience, label: false, wrapper_html: {class: 'col-md-2'}, 
      collection: UserExperienceMethod.years_experiences.keys, prompt: 'Years Experience...' %>
    <%= f.input :expertise, label: false, wrapper_html: {class: 'col-md-2'}, 
      collection: UserExperienceMethod.expertises.keys, prompt: 'Expertise...' %>
    <%= f.input :in_last_five_years, wrapper_html: { class: 'col-md-2'} %>
    <div class="form-group col-md-2">
      <%= f.submit 'Add Method', class: 'btn btn-primary col-md-12' %>
    </div>
  <%- end -%>
</div>

<h3>Applications</h3>
<%- if @experience.applications.count > 0 -%>
  <table class="table">
    <thead>
      <tr>
        <th>Application</th>
        <th>Experience</th>
        <th>Years Experience</th>
        <th>Expertise</th>
        <th>Company</th>
        <th>Project</th>
        <th>Service</th>
        <th>Technology</th>
        <th>Last 5 Years?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- @experience.applications.each do |application| %>
      <tr>
        <td><%= application.primary_activity%></td>
        <td><%= application.secondary_activity%></td>
        <td><%= application.years_experience%></td>
        <td><%= application.expertise%></td>
        <td><%= application.company%></td>
        <td><%= application.project%></td>
        <td><%= application.service%></td>
        <td><%= application.technology%></td>
        <td>
          <%-if application.in_last_five_years? -%>
            <span class="glyphicon glyphicon-ok text-success"></span>
          <%- end -%>
        </td>
        <td>
          <%= button_to "Delete", user_experience_application_path(application.id), 
            method: :delete, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>
<div ng-controller='UserExperienceActivitiesController' 
    class="row"
    ng-init='primaryActivities = <%=UserExperienceApplication.primary_activities.to_json%>; 
    secondaryActivityMap = <%=UserExperienceApplication.mapped_secondary_activities.to_json%>'}>
  <%= simple_form_for UserExperienceApplication.new, html: {class: 'form-inline experience-form'} do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :primary_activity, wrapper_html: {class: 'col-md-2', 'ng-hide' => 'otherPrimaryVisible'},
      input_html: {'ng-model' => 'selectedPrimaryActivity', 'ng-disabled' => 'otherPrimaryVisible'}, label: false,
      collection: UserExperienceApplication.primary_activities.keys.push("Other..."), prompt: 'Application...' %>
    <div class="form-group col-md-2" ng-show='otherPrimaryVisible'>
      <div class="input-group">
        <input id='user_experience_application_other_primary_activity', name='user_experience_application[other_primary_activity]',
          class="form-control" type="text," placeholder="Application...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="cancelOtherPrimaryActivity()">X</button>
        </span>
      </div>
    </div>
    <%= f.input :secondary_activity, wrapper_html: {class: 'col-md-2', 'ng-show' => 'secondaryActivitiesVisible'}, 
      label: false do -%>
      <%= f.select :secondary_activity, [], {prompt: 'Experience...'}, 
        {class: 'form-control select', 'ng-model'  => 'selectedSecondaryActivity', 'ng-disabled' => 'otherSecondaryVisible'} do %>
        <option ng-repeat="sa in availableSecondaryActivities" value="{{sa}}">{{sa}}</option>
        <option>Other...</option>
      <%- end -%>
    <%- end -%>
    <div class="form-group col-md-2" ng-show='otherSecondaryVisible'>
      <div class="input-group">
        <input id='user_experience_application_other_secondary_activity', name='user_experience_application[other_secondary_activity]',
          class="form-control" type="text," placeholder="Experience...">
        <span class="input-group-btn" ng-hide='otherPrimaryVisible'>
          <button class="btn btn-default" type="button" ng-click="cancelOtherSecondaryActivity()">X</button>
        </span>
      </div>
    </div>
    <%= f.input :years_experience, label: false, wrapper_html: {class: 'col-md-2'}, 
      collection: UserExperienceApplication.years_experiences.keys, prompt: 'Years Experience...' %>
    <%= f.input :expertise, label: false, wrapper_html: {class: 'col-md-2'}, 
      collection: UserExperienceApplication.expertises.keys, prompt: 'Expertise...' %>
    <%= f.input :company, label: false, wrapper_html: {class: 'col-md-2'}, 
      collection: UserExperienceApplication.companies.keys, prompt: 'Company...' %>
    <%= f.input :project, label: false, wrapper_html: {class: 'col-md-2'}, 
      collection: UserExperienceApplication.projects.keys, prompt: 'Project...' %>
    <%= f.input :service, label: false, wrapper_html: {class: 'col-md-2'}, 
      collection: UserExperienceApplication.services.keys, prompt: 'Service...' %>
    <%= f.input :technology, label: false, wrapper_html: {class: 'col-md-2'}, 
      collection: UserExperienceApplication.technologies.keys, prompt: 'Technology...' %>
    <%= f.input :in_last_five_years, wrapper_html: { class: 'col-md-2'} %>
    <div class="form-group col-md-3">
      <%= f.submit 'Add Application', class: 'btn btn-primary col-md-12' %>
    </div>
  <%- end -%>
</div>

<h3>Development Languages</h3>
<%- if @experience.languages.count > 0 -%>
  <table class="table">
    <thead>
      <tr>
        <th>Language</th>
        <th>Experience</th>
        <th>Years Experience</th>
        <th>Expertise</th>
        <th>Last 5 Years?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- @experience.languages.each do |language| %>
      <tr>
        <td><%= language.primary_activity%></td>
        <td><%= language.secondary_activity%></td>
        <td><%= language.years_experience%></td>
        <td><%= language.expertise%></td>
        <td>
          <%-if language.in_last_five_years? -%>
            <span class="glyphicon glyphicon-ok text-success"></span>
          <%- end -%>
        </td>
        <td>
          <%= button_to "Delete", user_experience_language_path(language.id), 
            method: :delete, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>
<div ng-controller='UserExperienceActivitiesController' 
    class="row"
    ng-init='primaryActivities = <%=UserExperienceLanguage.primary_activities.to_json%>; 
    secondaryActivityMap = <%=UserExperienceLanguage.mapped_secondary_activities.to_json%>'}>
  <%= simple_form_for UserExperienceLanguage.new, html: {class: 'form-inline experience-form'} do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :primary_activity, wrapper_html: {class: 'col-md-2', 'ng-hide' => 'otherPrimaryVisible'},
      input_html: {'ng-model' => 'selectedPrimaryActivity', 'ng-disabled' => 'otherPrimaryVisible'}, label: false,
      collection: UserExperienceLanguage.primary_activities.keys.push("Other..."), prompt: 'Language...' %>
    <div class="form-group col-md-2" ng-show='otherPrimaryVisible'>
      <div class="input-group">
        <input id='user_experience_language_other_primary_activity', name='user_experience_language[other_primary_activity]',
          class="form-control" type="text," placeholder="Language...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="cancelOtherPrimaryActivity()">X</button>
        </span>
      </div>
    </div>
    <%= f.input :secondary_activity, wrapper_html: {class: 'col-md-2', 'ng-show' => 'secondaryActivitiesVisible'}, 
      label: false do -%>
      <%= f.select :secondary_activity, [], {prompt: 'Experience...'}, 
        {class: 'form-control select', 'ng-model'  => 'selectedSecondaryActivity', 'ng-disabled' => 'otherSecondaryVisible'} do %>
        <option ng-repeat="sa in availableSecondaryActivities" value="{{sa}}">{{sa}}</option>
        <option>Other...</option>
      <%- end -%>
    <%- end -%>
    <div class="form-group col-md-2" ng-show='otherSecondaryVisible'>
      <div class="input-group">
        <input id='user_experience_application_other_secondary_activity', name='user_experience_application[other_secondary_activity]',
          class="form-control" type="text," placeholder="Experience...">
        <span class="input-group-btn" ng-hide='otherPrimaryVisible'>
          <button class="btn btn-default" type="button" ng-click="cancelOtherSecondaryActivity()">X</button>
        </span>
      </div>
    </div>
    <%= f.input :years_experience, label: false, wrapper_html: {class: 'col-md-2'}, 
      collection: UserExperienceApplication.years_experiences.keys, prompt: 'Years Experience...' %>
    <%= f.input :expertise, label: false, wrapper_html: {class: 'col-md-2'}, 
      collection: UserExperienceApplication.expertises.keys, prompt: 'Expertise...' %>
    <%= f.input :in_last_five_years, wrapper_html: { class: 'col-md-2'} %>
    <div class="form-group col-md-3">
      <%= f.submit 'Add Language', class: 'btn btn-primary col-md-12' %>
    </div>
  <%- end -%>
</div>
