<!-- references/_user_experience_language.html.erb -->
<div class="experience-row">
  <dl>
    <dt>Language: </dt>
    <dd><%= @reference_builder_presenter.primary_activity(experience) %></dd>
    <%- if @reference_builder_presenter.has_secondary_activity?(experience) -%>
      <dt>Experience: </dt>
      <dd><%= @reference_builder_presenter.secondary_activity(experience) %></dd>
    <%- end -%>
    <dt>Context: </dt>
    <dd><%= experience.context %></dd>
    <dt>Years Experience: </dt>
    <dd><%= experience.years_experience %></dd>
  </dl>
  <%= render partial: "user_experience_form" %>
</div>
