<h1>Create Reference</h1>

<p>
  Thank you for agreeing to provide a reference for <%=@reference.user.name%> on the Fused4 talent platform. There are the following steps:
</p>

<h2>Experience</h2>
<p>
  <ol>
    <li>Please tick the rows that reflect your experience of <%=@reference.user.name%></li>
    <li>For each row, please tick if your experience of <%=@reference.user.name%> has been in the 'Last 5  years'</li>
    <li>For each row please select from the drop down your view of their level of 'Expertise'</li>
  </ol>
</p>

<div id="reference-builder">
  <div id="experience">
    <%- @reference_builder_presenter.user_experiences.each do |experience| %>
      <%= render partial: @reference_builder_presenter.partial_path(experience), 
        object: experience, as: 'experience'  %>
    <%- end -%>

    <h2>Competencies</h2>
    <p>
      Please select 6 competencies from the list provided that you feel best reflects the expertise and strengths of <%= @reference.user.name%>
    </p> 

    <h2>Relationship</h2>
    <p>
      Please select a value from the list which best describes in what capacity you know <%= @reference.user.name %>
    </p>
  </div>
</div>
