<div ng-controller='ReferencesController'>
  <button class="btn btn-success pull-right" ng-hide='formVisible' ng-click='formVisible = !formVisible'>
    Request Reference
  </button>
  <h2>References</h2>
  <div id="add-reference-form" ng-init="formVisible=!<%=@reference.errors.empty?%>" ng-show='formVisible'>
    <h3>Request New Verification</h3>
    <%= simple_form_for @reference, html: { class: 'form-vertical' } do |f| %>
      <%= f.input :referee_first_name, label: 'First Name' %>
      <%= f.input :referee_last_name, label: 'Last Name' %>
      <%= f.input :referee_email, label: 'Email' %>
      <%= f.input :referee_email_text, label: 'Message', input_html: {rows: 8} %>
      <div class='form-button-container'>
        <%= f.button :submit, class: 'btn-primary', value: 'Send Request' %>
        <a class='btn btn-link' ng-click='formVisible = false'>
          Cancel
        </a>
      </div>
    <%- end -%>
  </div>
  <div class="clearfix"></div>
  <%- unless @references.empty? %>
    <div id="references" class='clearfix'>
      <%- @references.each do |ref| %>
        <div class="reference col-md-4">
          <%= image_tag 'referee_placeholder.png', class: 'referee' %>
          <div>
            <h4><%= ref.referee_first_name%> <%= ref.referee_last_name%></h4>
            <ul>
              <li>Request Date: <%= ref.created_at.strftime("%d/%m/%Y") %></li>
              <li>Response Date: </li>
              <li>
                <%= link_to "View Reference", reference_path(ref.id), class: "btn btn-primary"%> 
                <%= form_for ref, method: :delete do |f|%>
                  <%= f.button :button, class: 'btn-danger btn' do%>
                    Delete Reference
                  <%-end-%>
                <%- end -%>
                <%= form_for :reference, url: send_reminder_email_reference_path(ref.id) do |f|%>
                  <%= f.button :button, class: 'btn-default btn' do%>
                    Nudge to Complete
                  <%-end-%>
                <%- end -%>
            </ul>
          </div>
        </div>
      <%- end -%>
    </div>
  <%- end -%>
</div>
