<div ng-controller='AchievementsController'>
  <button class="btn btn-success pull-right" ng-hide='formVisible' ng-click='formVisible = !formVisible'>
    Add New Achievement
  </button>
  <h2>Achievements</h2>
  <div id="add-achievement-form" ng-init="formVisible=!<%=@achievement.errors.empty?%>" ng-show='formVisible'>
    <h3>Add Achievement</h3>
    <%= simple_form_for @achievement, html: { class: 'form-vertical' } do |f| %>
      <%= f.input :title %>
      <%= f.input :link %>
      <%= f.input :attachment, as: :file %>
      <div class='form-button-container'>
        <%= f.button :submit, class: 'btn-primary'%>
        <a class='btn btn-link' ng-click='formVisible = false'>
          Cancel
        </a>
      </div>
    <%- end -%>
  </div>
  <%- unless @achievements.empty? %>
    <table class='table'>
      <thead>
        <tr>
          <th>Title</th>
          <th>Link</th>
          <th>File</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%- @achievements.each do |ach| %>
          <tr>
            <td><%= ach.title %></td>
            <td><%= link_to ach.link, ach.link%></td>
            <td><%= (link_to 'Download Attachment', ach.attachment.url) unless ach.attachment.blank? %></td>
            <td class="text-center">
              <%= link_to "X", achievement_path(ach.id), method: :delete %>
            </td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  <%- end -%>
</div>
