<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/head' %>
</head>
<body ng-app="Fused4">
<%= render 'layouts/navbar' %>
<%= render 'layouts/notifications' %>

<div class="container-fluid">
<div class="row">
  <div class="col-sm-2">
    <h1>Profile</h1>
    <hr/>
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to 'Basic Details', nav_personal_details_link(current_user)  %></li>
      <li><%= link_to 'Role Preferences', roles_show_path %></li>
      <li><%= link_to 'Video Statement', '' %></li>
      <li><%= link_to 'Experience', experience_path%></li>
    </ul>

  </div>
  <div class="col-sm-8">

    <%= yield %>

  </div>
</div>
</div>

</body>
</html>
